{
	"sftp":{
		"host" : "yourHost",
	    "username" : "yourUser",
	    "password" : "**********"
	},
	"mysql":{
		"dev":{
			"dbname": "dbName",
			"user" : "dbUser",
		    "pass" : "**********",
		    "host" : "localhost"
		},
		"pro":{
			"dbname": "dbName",
			"user" : "dbUser",
		    "pass" : "**********",
		    "host" : "yourdomain"
		}
	}
}