{
	"sftp":{
		"host" : "yourHost",
	    "username" : "yourUser",
	    "password" : "**********"
	},
	"mysql":{
		"dev":{
			"dbname": "dbname",
			"user" : "root",
		    "pass" : ""**********"",
		    "host" : "localhost"
		},
		"pro":{
			"dbname": "dbname",
			"user" : "exampleUser",
		    "pass" : ""**********"",
		    "host" : "localhost"
		}
	}
}