@import "nib"
@import "../../../bower_components/normalize.styl/normalize.styl"
@import "../../../node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.standalone.min.css"

main-blue = #013660
dark-gray = #333333
light-gray =  #818181

activo = #6cfc86
desactivado = #999999
verdeOk = #59AB3E

rosaPalido = #ff686f
grisClaro = #ededed
verdeAguoso = #53ded8

//reset
figure
	margin 0
body
	font-family: 'Roboto', sans-serif;
	font-size 16px
	margin 0

body.outapp
	background #26282D

body.inapp
	background light-gray

section,
body
	position relative

// OOCSS
.text-center
	text-align center

.clear
	width 50px
	clear both


// estructura principal
.header
	background-color #26282D
	margin 0
	overflow hidden
	display none
	min-height 117px


.logo
	position relative
	margin-left 2em
	img
		margin 1em auto
// listado de deportes
.tipo-pistas
	margin 0
	padding 1em


.deporte
	position relative
	display inline-block
	padding 3em 0
	margin .2em
	width 45%
	border 6px solid #c3c3c3
	background-color #c3c3c3

.deporte:has(> span.Hockey)
		background red

.pista
	position relative
	display inline-block
	padding 3em 0
	margin .2em
	width 45%
	background-color #c3c3c3

@media screen and (min-width:650px)
	.deporte
		position relative
		display inline-block
		padding 3em 0
		margin .2em
		width 22%
		background-color #c3c3c3


// listado tipo-pistas

#calendario
	position relative
	width 100%
	padding 0
	margin 2em 0

.tipo-calendario
	width 50%
	&.doble
		margin 0
		float left
	&.simple
		margin 0 auto
		float none
	ul
		margin 0
		padding 0

.hora
	position relative
	display block
	padding 2em 0
	margin .2em
	&[data-estado="libre"]
		background-color activo
		cursor pointer
	&[data-estado="ocupado"]
		background-color desactivado
	&[data-estado="owner"]
		background-color rosaPalido
		cursor pointer

#modalCalendario
	position absolute
	z-index 999
	background rgba(159, 191, 223, 0.94)
	height 100%
	width 100%
	top 0
	left 0
	display none
	>div
		padding 1.5em
		border 8px solid grisClaro
		height 350px
		max-width 550px
		margin 7em auto
		background white
		box-shadow 0 0 6px light-gray

// footer

// hack

footer
	background-color transparent
	color #6C6C6C
	font-weight 100

body.inapp
	footer
		display block

// LOGIN / REGISTRO
#logo
	figure
		margin 2em auto
		width 300px

.inapp
	#logo
		display none

.login_users
	position relative
	max-width: 600px;
	background: grisClaro;
	height: auto;
	overflow hidden
	margin: 0 auto;
	box-shadow: 0 0px 5px dark-gray;
	padding 1em
	border-radius 2px
	label,
	input
		position relative
		margin .5em auto
		width 500px
		height 2em
		padding .5em
	label
		text-align center
	#dologin,
	#doregister,
	#logout
		text-transform uppercase
		-webkit-transition: background-color .8s ease-out;
		-moz-transition: background-color .8s ease-out;
		-o-transition: background-color .8s ease-out;
		transition: background-color .8s ease-out;

		-webkit-transition: box-shadow .2s ease-out;
		-moz-transition: box-shadow .2s ease-out;
		-o-transition: box-shadow .2s ease-out;
		transition: box-shadow .2s ease-out;

		-webkit-transition: color .2s ease-out;
		-moz-transition: color .2s ease-out;
		-o-transition: color .2s ease-out;
		transition: color .2s ease-out;

		box-shadow none
		display inline-block
		border-radius 3px
		text-decoration none
		text-align center
		color white
		padding .8em 3em
		margin 2em auto 2em
		background-color verdeAguoso
		font-weight 300
		&:hover
			color dark-gray
			background-color grisClaro
			box-shadow 0 0 3px dark-gray
	#goregistro,
	#gologin
		color #736E6E
	span
		font-weight 300
		color #949494
		text-align center
		display block
		margin 1em auto 1.5em
	span.title-span
		font-weight 400
		color dark-gray
	#error
		position relative
		border 1px solid rosaPalido
		padding 1em
		bottom -30px
		background rosaPalido
		color white
		text-align center
		ul
			margin: 0
			padding 0
			list-style none
			text-align center
			li
				text-align center
				margin: 0
				padding: 0

@media screen and (max-width:650px)
	.login_users
		max-width: 600px;
		margin: 0 1em;
		label,
		input
			margin .5em auto
			width 94%



// validación
.error
	display none


// logout
#logout
	text-transform uppercase
	-webkit-transition: color .3s ease-out;
	-moz-transition: color .3s ease-out;
	-o-transition: color .3s ease-out;
	transition: color .3s ease-out;

	-webkit-transition: background-color .6s ease-out;
	-moz-transition: background-color .6s ease-out;
	-o-transition: background-color .6s ease-out;
	transition: background-color .6s ease-out;

	box-shadow none
	display inline-block
	position absolute
	right 0
	top 0
	border-radius 3px
	border 1px solid #3F424B
	text-decoration none
	text-align center
	color #3F424B
	padding .8em 3em
	margin 2em
	font-weight 100
	background-color transparent
	&:hover
		color white
		background-color #3F424B



