@import "nib"
@import "../../../bower_components/normalize.styl/normalize.styl"

main-blue = #013660
dark-gray = #333333
light-gray =  #818181

//reset
figure
	margin 0
body
	font-size 16px
	margin 0

// OOCSS
.text-center
	text-align center



// estructura principal
.header
	background-color main-blue
	margin 0
	overflow hidden
.footer
	background-color light-gray
	color dark-gray
	padding 2em 0
	font-size 0.8rem

.logo
	position relative
	width 100%
	img
		margin 1em auto
		display	block

// listado de deportes
.tipo-pistas
	margin 0
	padding 1em


.deporte
	position relative
	display inline-block
	padding 3em 0
	margin .2em
	width 45%
	background-color #c3c3c3

.pista
	position relative
	display inline-block
	padding 3em 0
	margin .2em
	width 45%
	background-color #c3c3c3

.hora
	position relative
	display block
	padding 2em 0
	margin .2em
	width 45%
	background-color #6cfc86



